.save
{
    background-color: rgb(166, 224, 166);
    border:whitesmoke;
    border-style:inset;
    transition-duration: 0.5s;
}

.save:hover
{
    background-color: rgb(69, 148, 69);
    color:white;
    border-style:outset;
}

.save:disabled
{
    background-color:gray;
    color:whitesmoke;
    border-style:none;
}

.ExportPanel
{
    position:fixed;
    
    margin: 0.5em;
    background-color:#afcbdd;
    display:block;
    button {
        margin: 8px;
        padding: 18px;
        font-size:medium;
    }

    

    .switch
    {
        margin:12px;
        position: relative;
        display: inline-block;
        width: 50px;
        height: 32px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.5s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: #2196F3;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
      }
}

.LoadedPiece
{
    margin:8px;
    padding:8px;
    width:auto;
    height:24px;
    border-width: 2px;
    border-color: white;
    background-color: rgb(173, 189, 233);
}

.SPECIAL
{
    color: yellow;
}

.RARE
{
    color: blue;
}

.UNCOMMON
{
    color: green;
}

.COMMON
{
    color: whitesmoke;
}